.app.dark {
    --bg-color: #2c0575;
    --inverted-bg-color: #ece2ff;
    --primary-color: #02a546d8;
    --secondary-color: #14ec29;
    --inverted-primary-color: #c7b5f7;
    --inverted-secondary-color: #a0a1ff;
    

}