:root {
    --bg-color: #ece2ff;
    --inverted-bg-color: #2c0575;

    --primary-color: #c7b5f7;
    --secondary-color: #a0a1ff;
    --inverted-primary-color: #02a546d8;
    --inverted-secondary-color: #14ec29;
    
}